<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/066ddb13-4bd1-4a6f-9898-38976f1037e8/resourceGroups/kamil-rest-api_group/providers/Microsoft.Web/sites/kamil-rest-api-new</ResourceId>
    <ResourceGroup>kamil-rest-api_group</ResourceGroup>
    <ApiResourceId>/subscriptions/066ddb13-4bd1-4a6f-9898-38976f1037e8/resourceGroups/kamil-rest-api_group/providers/Microsoft.ApiManagement/service/kamil-rest-api-new/apis/api</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://kamil-rest-api-new-ggdffje9a4g6h4b7.polandcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5ca15b1e-1c51-48dd-9990-2a981ecfc265</ProjectGuid>
    <MSDeployServiceURL>kamil-rest-api-new-ggdffje9a4g6h4b7.scm.polandcentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kamil-rest-api-new</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>